/**
 * @desc         Configuration LESS & import de fichiers
 * @name         config.less
 * @author       KB, MM
 */
/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* ==========================================================================
   FONTS
   ========================================================================== */
/* ==========================================================================
   FILES
   ========================================================================== */
/**
 * Styleguide Mixins
 * @desc      Fonctions LESS
 * @name      mixins.less
 * @author    KB, MM
 */
/*
Cacher le texte de son conteneur

Styleguide Mixins - 10. Cacher le texte
*/
/*
Créer une transition entre deux états d'un élément

@arguments        - Paramètres de la transition

Styleguide Mixins - 20. Transition entre deux états d'un élément
*/
/*
Créer un délai de transition entre deux états d'un élément

@arguments        - Paramètres de la transition

Styleguide Mixins - 21. Délai de transition entre deux états d'un élément
*/
/*
Gérer la transparence/opacité d'un élément

@opacity          - Opacité d'un élément de 0 (transparent) à 1 (opaque)

Styleguide Mixins - 30. Transparence/opacité d'un élément
*/
/*
Gérer la rotation d'un élément

@deg              - Rotation en degrés d'un élément (unité = deg)

Styleguide Mixins - 40. Rotation d'un élément
*/
/*
Gérer l'échelle (modification proportionnée de la taille) d'un élément

@ratio              - Ratio scale (0.5 = 50%, 1 = 100%, 1.5 = 150%)

Styleguide Mixins - 50. Echelle / taille proportionnée d'un élément
*/
/*
Gérer le déplacement en 3d

@x - Axe des abscisses X
@y - Axe des ordonnées Y
@z - Axe de la profondeur Z

Styleguide Mixins - 60. Position et déplacement sur 3 axes d'un élément
*/
/*
Gérer le déplacement en 2d

@x - Axe des abscisses X
@y - Axe des ordonnées Y

Styleguide Mixins - 61. Position et déplacement sur 3 axes d'un élément
*/
/*
Gérer la position et le déplacement sur l'axe X d'un élément

@x                - Axe des abscisses X

Styleguide Mixins - 65. Position et déplacement sur l'axe X
*/
/*
Gérer la position et le déplacement sur l'axe Y d'un élément

@y                - Axe des ordonnées Y

Styleguide Mixins - 66. Position et déplacement sur l'axe Y
*/
/*
Dégradé vertical

@start-color              - Couleur de départ (default = #555)
@end-color                - Couleur de fin (default = #333) : couleur également utilisée en fallback
@start-percent            - Niveau de départ de la couleur top en pourcentage (default = 0%)
@end-percent              - Niveau de fin de la couleur bottom en pourcentage (default = 100%)

Styleguide Mixins - 70. Dégradé vertical
*/
/*
Dégradé horizontal

@start-color              - Couleur de départ (default = #555)
@end-color                - Couleur de fin (default = #333) : couleur également utilisée en fallback
@start-percent            - Niveau de départ de la couleur top en pourcentage (default = 0%)
@end-percent              - Niveau de fin de la couleur bottom en pourcentage (default = 100%)

Styleguide Mixins - 80. Dégradé horizontal
*/
/*
Dégradé radial

@start-color              - Couleur de départ
@end-color                - Couleur de fin : couleur également utilisée en fallback

Styleguide Mixins - 90. Dégradé radial
*/
/*
Modèle de boîte CSS utilisé pour calculer la largeur et la hauteur des éléments

@type        - Valeur de la propriété box-sizing (border-box par défaut)

Styleguide Mixins - 100. Modèle de boîte (boxSizing)
*/
/*
Filter

@type        - Type de filtre (greyscale, blur, sepia, contrast, etc)
@value       - Pourcentage d'opacité du filtre (defaut = 100%)

Styleguide Mixins - 110. Filter
 */
/*
Font

@name        - Nom de la font : primary, secondary
@weight      - light, normal, bold

Styleguide Mixins - 120. Font
 */
/*
Font size

@require @base-fontsize
@size (int) - Taille du texte référence (pixel) sans unité

Styleguide Mixins - 125. Pixel to em
 */
/*
Transform

@arguments - Paramètres de la transformation

Styleguide Mixins - 130. Transform
 */
/*
Transform-origin

@arguments - Paramètres de l'origine de la transformation

Styleguide Mixins - 131. Transform-origin
 */
/*
column-wrapper

@gutter - Largeur entre chaque colonne
@breakpoint - Point de rupture pour le responsive

Styleguide Mixins - 140. Mixins de grille
 */
/*
column-item

@float - Valeur du float

Styleguide Mixins - 141. Mixins de grille
 */
/*
column-screen pour tous les écrans

@columns - Nombre de colonne
@gutter-left - Marge intérieur à gauche
@gutter-right - Marge intérieur à droite
@margin-bottom - Marge externe basse
@is-list-item - Indique s'il s'agit d'un élément de liste ou indépendant, forçant ou non un retour à la ligne en CSS

Styleguide Mixins - 142. Mixins de grille
 */
/*
column-tablet

@columns - Nombre de colonne
@gutter-left - Marge intérieur à gauche
@gutter-right - Marge intérieur à droite
@margin-bottom - Marge externe basse
@is-list-item - Indique s'il s'agit d'un élément de liste ou indépendant, forçant ou non un retour à la ligne en CSS

Styleguide Mixins - 143. Mixins de grille
 */
/*
column-smartphone

@columns - Nombre de colonne
@gutter-left - Marge intérieur à gauche
@gutter-right - Marge intérieur à droite
@margin-bottom - Marge externe basse
@is-list-item - Indique s'il s'agit d'un élément de liste ou indépendant, forçant ou non un retour à la ligne en CSS

Styleguide Mixins - 144. Mixins de grille
 */
/*
triangle-base

@direction - Orientation du triangle
@size - Taille du triangle
@color - Couleur de remplissage

Styleguide Mixins - 150. Formes géométriques
 */
/*
input-placeholder-color

@color - Couleur du text du placeholder d'un input

Styleguide Mixins - 160. Gestion des éléments de formulaires
 */
/*
animation

@args - Arguments de création d'une animation

Styleguide Mixins - 170. Animations CSS
 */
/*
animation-duration

@args - Durée d'une animation

Styleguide Mixins - 171. Animations CSS
 */
/*
animation-delay

@args - Délai de lancement d'une animation

Styleguide Mixins - 172. Animations CSS
 */
/*
RGBA
 */
/*
ICON

@name - Nom de l'icon sans le préfix (icon-)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: 75%;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/**
 * @desc         Styles des balises HTML
 * @name         base.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/* ==========================================================================
   GLOBAL
   ========================================================================== */
body {
  overflow: hidden;
  line-height: 1.4;
  color: #343434;
  font-size: 1em;
  letter-spacing: .03em;
  background: #efefef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
a {
  color: #2bb24c;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
}
p,
ul,
ol,
blockquote,
table,
iframe,
video,
audio,
address {
  margin: 0;
}
p + h2,
ul + h2,
ol + h2,
blockquote + h2,
table + h2,
iframe + h2,
video + h2,
audio + h2,
address + h2,
p + h3,
ul + h3,
ol + h3,
blockquote + h3,
table + h3,
iframe + h3,
video + h3,
audio + h3,
address + h3,
p + h4,
ul + h4,
ol + h4,
blockquote + h4,
table + h4,
iframe + h4,
video + h4,
audio + h4,
address + h4,
p + .title-h2,
ul + .title-h2,
ol + .title-h2,
blockquote + .title-h2,
table + .title-h2,
iframe + .title-h2,
video + .title-h2,
audio + .title-h2,
address + .title-h2,
p + .title-h3,
ul + .title-h3,
ol + .title-h3,
blockquote + .title-h3,
table + .title-h3,
iframe + .title-h3,
video + .title-h3,
audio + .title-h3,
address + .title-h3,
p + .title-h4,
ul + .title-h4,
ol + .title-h4,
blockquote + .title-h4,
table + .title-h4,
iframe + .title-h4,
video + .title-h4,
audio + .title-h4,
address + .title-h4 {
  margin-top: 50px;
}
ul,
ol {
  padding: 0;
  list-style: none;
}
blockquote {
  margin: 50px 0;
  padding: 50px 24px 25px;
}
blockquote p {
  margin: 0;
}
fieldset {
  border: none;
}
/* ==========================================================================
   TABLE
   ========================================================================== */
table {
  width: 100%;
  border: 1px solid #dedede;
}
table th,
table td {
  padding: 8px 18px;
  border: 1px solid #dedede;
}
/**
 * @desc         Styles des états généraux
 * @name         states.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
.is-visuallyHidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.is-mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .is-mobile {
    display: block !important;
  }
}
.l-overlay {
  cursor: pointer;
}
.clear {
  clear: both;
}
body.is-available {
  overflow: auto;
}
body.is-available .overlay,
body.is-available .progress {
  opacity: 0;
  visibility: hidden;
}
/**
 * @desc         Styles généraux d'agencement des modules CSS
 * @name         layout.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/* ==========================================================================
   GLOBAL
   ========================================================================== */
.row {
  position: relative;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1148px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .row {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* Type de layout
   ========================================================================== */
.page {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}
.l-wrapper {
  clear: both;
  margin-left: -12px;
  margin-right: -12px;
}
.l-half {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  width: 50%;
}
@media (max-width: 1024px) {
  .l-half {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    width: 50%;
    clear: none;
  }
}
@media (max-width: 768px) {
  .l-half {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    width: 100%;
    clear: none;
  }
}
.l-third {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  width: 33.33333333%;
}
@media (max-width: 1024px) {
  .l-third {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    width: 50%;
    clear: none;
  }
}
@media (max-width: 768px) {
  .l-third {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    width: 100%;
    clear: none;
  }
}
.l-quarter {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 0;
  width: 25%;
}
@media (max-width: 1024px) {
  .l-quarter {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    width: 50%;
    clear: none;
  }
}
@media (max-width: 768px) {
  .l-quarter {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0;
    width: 100%;
    clear: none;
  }
}
.main-part {
  position: relative;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.mainHeader {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  width: 60px;
  overflow: scroll;
  background-color: #232323;
  color: rgba(255, 255, 255, 0.8);
  transition: .4s;
}
.mainHeader-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  padding: 36px 0 24px 60px;
  border-top: 5px solid #2bb24c;
  box-sizing: border-box;
  transition: .4s;
}
.mainHeader:hover {
  width: 300px;
}
.mainHeader:hover .mainHeader-inner {
  padding-left: 24px;
  padding-right: 24px;
}
.mainHeader:hover + .mainContent {
  left: 240px;
  opacity: .8;
}
/* CONTENT
   ========================================================================== */
.mainContent {
  left: 0;
  padding-left: 60px;
  opacity: 1;
  transition: .4s;
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
/**
 * Styleguide Boutons
 * @desc         Module boutons
 * @name         btn.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/*
Style générique des boutons de mon site

Markup: <button class="btn $modifierClass">Bouton</button>

:hover, :focus, :active - Bouton au survol
:disabled               - Bouton désactivé
 
Styleguide Boutons - 1. Bouton standard
*/
.btn,
input[type="submit"],
input[type="button"] {
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  line-height: 1.1;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: #898989;
  border: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: bold;
  letter-spacing: .05em;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  box-sizing: border-box;
}
.btn:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.btn:active,
input[type="submit"]:active,
input[type="button"]:active,
.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.l-overlay:hover .btn,
.l-overlay:hover input[type="submit"],
.l-overlay:hover input[type="button"] {
  background: #2bb24c;
}
.btn[disabled],
input[type="submit"][disabled],
input[type="button"][disabled],
.btn:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
.btn + .btn,
.btn + input[type="submit"],
.btn + input[type="button"],
input[type="submit"] + .btn,
input[type="submit"] + input[type="submit"],
input[type="submit"] + input[type="button"],
input[type="button"] + .btn,
input[type="button"] + input[type="submit"],
input[type="button"] + input[type="button"] {
  margin-left: 18px;
}
.btn--more {
  background-color: #2bb24c;
  border-color: #2bb24c;
}
.btn--more:hover {
  background-color: #249540;
  border-color: #249540;
}
/**
 * Styleguide Navigation
 * @desc         Module navigation (menu principal, secondaire)
 * @name         nav.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/* ==========================================================================
   Navigation principale
   ========================================================================== */
.nav {
  margin-bottom: 25px;
  font-size: 0.9375em;
}
.nav a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
}
.nav a:hover {
  color: #fff;
}
.nav .nav-item {
  position: relative;
}
.nav .nav-item > a {
  padding: 5px 0;
  font-weight: bold;
}
.nav .nav-sub {
  padding-left: 20px;
  overflow: hidden;
  max-height: 0;
  transition: .4s;
}
.nav .nav-sub a {
  padding: 3px 0;
}
.nav .nav-sub > li:last-child {
  margin-bottom: 15px;
}
.nav .is-active > a {
  color: #2bb24c;
}
.nav .is-active > .nav-sub {
  max-height: 500px;
}
.nav--main .nav-item + .nav-item {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.nav--main .nav-item > a {
  padding: 15px 0;
  text-transform: lowercase;
}
/* ==========================================================================
   Fil d'ariane
   ========================================================================== */
/*
<div class="nav-breadcrumb">
    <ol>
        <li><a href="">Accueil</a><span class="breadcrumb-separator"><span class="icon icon-arrow-right"></span></span></li>
        <li> <a href="">Parent</a><span class="breadcrumb-separator"><span class="icon icon-arrow-right"></span></span></li>
        <li class="current-item"> Current</li>
    </ol>
</div>
 
Styleguide Navigation - 2. Fil d'ariane
*/
/**
 * Styleguide Formulaire
 * @desc         Module formulaire
 * @name         form.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/*
Champs de base d'un formulaire

Styleguide Formulaire - 1. Champs de base
*/
form,
fieldset,
.form-group {
  margin-bottom: 25px;
}
form {
  position: relative;
  font-size: 0.9375em;
}
.form-item {
  margin-bottom: 12.5px;
}
/* Champs
   ========================================================================== */
textarea,
select,
.customform-selectLabel,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"] {
  padding: 0 18px;
  height: 42px;
  width: 100%;
  color: #000;
  border: 1px solid #dedede;
  background-color: #efefef;
  box-sizing: border-box;
}
textarea[disabled],
select[disabled],
.customform-selectLabel[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
input[type="email"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="number"][disabled],
textarea:disabled,
select:disabled,
.customform-selectLabel:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="url"]:disabled,
input[type="number"]:disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default;
}
textarea:focus,
select:focus,
.customform-selectLabel:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus {
  border-color: #2bb24c;
  outline: 0;
}
/* ==========================================================================
   Labels
   ========================================================================== */
label {
  display: inline-block;
  color: #898989;
  cursor: pointer;
}
/* ==========================================================================
   Form search
   ========================================================================== */
.form--search input {
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  color: inherit;
  font-weight: bold;
}
.feed {
  clear: both;
  display: none;
}
.feed:nth-child(odd) {
  background-color: #efefef;
}
.feed:nth-child(even) {
  background-color: #dedede;
}
.feed .row {
  padding-top: 50px;
  padding-bottom: 50px;
}
.feed .feed-title {
  margin-bottom: 33.33333333px;
}
.feed .feed-footer {
  margin-top: 25px;
  clear: both;
  text-align: center;
}
.feed.is-visible {
  display: block;
}
/**
 * Styleguide Liste d'items
 * @desc         Module de liste
 * @name         list.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
.list {
  clear: both;
  margin-left: -12px;
  margin-right: -12px;
}
.list-item {
  position: relative;
}
.list-item .item-image {
  position: relative;
  line-height: 0;
}
.list-item img {
  max-width: 100%;
}
.list--posts {
  letter-spacing: -0.3em;
}
.list--posts .list-item {
  float: none;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 24px;
  letter-spacing: 0;
}
.list--posts .list-item .item-wrapper {
  position: relative;
}
.list--posts .list-item .item-wrapper:hover .item-image div {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.list--posts .list-item .item-wrapper:hover .item-title {
  color: #2bb24c;
}
.list--posts .list-item .item-image {
  margin-bottom: 12px;
  border: 1px solid #dedede;
  background-color: #dedede;
  overflow: hidden;
}
.list--posts .list-item .item-image div {
  padding-bottom: 60%;
  background: url("../images/default.gif") no-repeat center top;
  background-size: cover;
  opacity: .8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
  transition: .3s;
}
.list--posts .list-item .item-title {
  margin-bottom: 0;
  transition: .2s;
}
.list--posts .list-item .item-date {
  color: #898989;
  font-size: 0.75em;
  font-weight: bold;
}
.list--posts .list-item.l-quarter .item-header {
  font-size: .9em;
}
/**
 * Styleguide Messages
 * @desc         Module title
 * @name         title.less
 * @author       KB, MM
 * @tested       Firefox
 * @requires     config.less
 */
/* ==========================================================================
   TITRES
   ========================================================================== */
h1,
h2,
h3,
h4,
.title--h1,
.title--h2,
.title--h3,
.title--h4 {
  line-height: 1.15;
  margin: 0 0 25px;
  font-weight: normal;
}
h1,
.title--h1 {
  color: #343434;
  font-size: 1.875em;
  font-weight: bold;
}
h2,
.title--h2 {
  color: #2bb24c;
  font-size: 2em;
  font-weight: bold;
}
h2 span,
.title--h2 span {
  display: block;
}
h3,
.title--h3 {
  color: #343434;
  font-size: 1.25em;
}
h4,
.title--h4 {
  color: #343434;
  font-size: 1em;
}
hgroup {
  margin-bottom: 50px;
}
hgroup h1 {
  margin-bottom: 5px;
  color: #fff;
}
hgroup h2 {
  color: inherit;
  font-weight: normal;
  font-size: 1.125em;
}
.overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: #232323;
  text-align: center;
  visibility: visible;
  opacity: 1;
  transition: .6s .4s;
}
.overlay-inner {
  display: table-cell;
  vertical-align: middle;
}
.overlay-index {
  font-size: 1.25em;
  color: rgba(255, 255, 255, 0.6);
}
.overlay-currentName {
  position: relative;
  font-size: 2.8125em;
  font-weight: bold;
  color: #fff;
}
.overlay-currentName p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: .2s;
}
.overlay-currentName p:last-child {
  opacity: 1;
}
.progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #2bb24c;
  opacity: 1;
  transition: width .15s .05s, opacity .6s .4s;
}
